:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ddd;
  background-color: #222;
}

body {
  margin: 0;
  min-height: 100vh;
}

body, #root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-circle {
  height: 98vh;
  width: 98vh;
}

#dimensions {
  height: 100vh;
  width: 24rem;
  border: 1px inset #ccc;
  box-sizing: border-box;
  margin-left: 1em;
  overflow: auto;
}

label {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
}

label span {
  font-size: inherit;
  margin: 0.5em;
}

select {
  font-size: inherit;
  font-family: inherit;
  flex-grow: 1;
  margin-right: 0.5em;
}

.setting {
  --size: 1rem;
  margin: 0.25rem;
}

.setting p {
  margin-bottom: 0;
  display: flex;
  align-items:center
}

.range {
  display: inline-block;
  position: relative;
  width: 20rem;
  border: 1.5px solid #fff;
  border-radius: var(--size);
  overflow: hidden;
}

.thumb {
  position: relative;
  width: calc(2 * var(--size));
  height: var(--size);
  border: 0.5px solid #000;
  border-radius: var(--size);
  background-color: #fff;
}

.slider input {
  display: inline-block;
  width: calc(2.5 * var(--size));
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0.5em 0.5em 0;
}

li {

  display: inline-block;
  width: 100%
}

span {
  font-size: 0.75em;
  user-select: none;
}

p {
  margin: 0 0 0.75rem 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0.5em;
}

h2:disabled, h2[disabled] {
  color: #644;
  text-decoration: line-through;
}

button {
  position: relative;
  width: 80%;
  left:10%;

  font-size: 1.1rem;
  height: 2.1em;

  border-radius: 4em;
  margin-bottom: 1em;
}

#dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222e;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog > div {
  background-color: #1c1c1c;
  padding: 2em;
  border: 0.2em outset #333;
  border-radius: 2em;
}

#dialog input {
  font-size: 1.25em;
  margin-bottom: 2em;
}

#dialog .buttons {
  display: flex;
  justify-content: stretch;
}

#dialog button {
  left: unset
}

#dialog .save {
  background-color: #050;
  border: 2px outset #070;
  margin-left: 0.5em;
}